<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_culturetoolbakers">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECultureToolBakers">
        <activity
            android:name=".ModificaZonaRicerca"
            android:exported="false" />
        <activity
            android:name=".ModificaOperaRicerca"
            android:exported="false" />
        <activity
            android:name=".ApriPercorso"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".NetworkCheck"
            android:exported="false" />
        <activity
            android:name=".CambiaLingua"
            android:exported="false" />
        <activity
            android:name=".ModificaOpera"
            android:exported="false" />
        <activity
            android:name=".RiepilogoRegistrazione"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".RiepilogoOpere"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".RiepilogoZone" />
        <activity
            android:name=".RiepilogoZone"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".RegistrazioneMuseo" />
        <activity
            android:name=".InserisciOpera"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".RiepilogoOpere"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InserisciZona"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".RiepilogoZone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrazioneMuseo"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SchermataZona"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SchermataOpera"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".QRScanner"
            android:exported="true" />
        <activity
            android:name=".SelezionaOpere"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".SelezionaZone" />
        <activity
            android:name=".SelezionaZone"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".SelezionaTipoPercorso" />
        <activity
            android:name=".SelezionaMuseo"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SelezionaTipoPercorso"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".SelezionaMuseo" />
        <activity
            android:name=".RiepilogoPercorso"
            android:exported="true"
            android:parentActivityName=".SelezionaOpere" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>